.todos{
    margin-top: 20px !important;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}
.card{
    margin: 20px 20px !important;
    width: 250px !important;
}